@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* body,
code,
pre {
  font-family: "Ubuntu Mono", "DejaVu Sans Mono", "Liberation Mono", monospace !important;
} */

@font-face {
  font-family: "Px437 IBM VGA8";
  src: url("/fonts/Ac437_IBM_EGA_9x8.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body,
code,
pre {
  font-family: "Px437 IBM VGA8", monospace !important;
}
*/ :root {
  --background: #ffffff;
  --foreground: #cf1717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  /* background-image: url("/images/grid.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
}

.retro-shadow {
  position: relative;
  /* Pixel-dotted shadow effect */
  box-shadow: 11px 11px 0px #222222;

  /* Makes sure the dots stay pixelated */
  image-rendering: pixelated;
}

.retro-shadow-items {
  box-shadow: 6px 6px 0px #011bb1;
}

.border-color {
  border-color: #d8900c;
}

.border-color-items {
  border-color: #d8900c;
  border-width: 1px;
}

.bg-color {
  background-color: #d8900c;
}

.bg-color-items {
  background-color: #2c2217af;
  background-image: radial-gradient(circle, #000000 1px, transparent 1px);
  background-size: 10px 10px; /* Adjusts dot spacing */
  background-position: center;
}

.text-color {
  color: #c78728;
}

.header-color {
  background-color: #9c0505;
}

.bg-button {
  background-color: #000000;
}

.bg-button:hover {
  background-color: #1a140d;
  @apply transition-colors;
}

.animate-fade-in {
  animation: fade-in 0.7s ease-out;
  opacity: 1;
}

.wire-color {
  color: #07c710;
}

/* Scroll */
.custom-scrollbar {
  overflow-y: hidden !important;
  /* overflow-x: hidden !important; */
  scrollbar-width: auto !important;
  scrollbar-color: #d8900c black;
}

/* Webkit Browsers */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px; /* Ensure it's visible */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: black;
  border: 2px solid #d8900c;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d8900c;
  border-radius: 5px;
  border: 2px solid black;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d8900c;
}
